* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* HEADER */
header{
    background-color: lightcoral;
    text-align: center;
    line-height: 1.7;
}

#menu-container {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#menu-nav {
    text-decoration: none;
    border: 1px solid black;
    width: 100%;
}

#menu-nav a{
    color: black;
    text-decoration: none;
}

/* ====================== */

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    background: lightblue;
    height: 550px;
    text-align: justify;
    flex: 1 0 auto;
}
 
aside {
    display: flex;
    flex: 1 0 200px;
    background: purple;
}

aside:first-child {
    background: yellow;
}

.paraWarper{
    display: flex;
    flex-wrap: wrap;
}
#main-container {
    display: flex;
    border: 1px solid black;
    flex: 1 0 200px;
}



/* ====================== */

footer {
    display: flex;
    background: lightgreen;
    text-align: center;
    line-height: 2;
    justify-content: center;
}